.authorization {
  display: block;
	}

.noAuthorization {
	display: none;
}

.table {
	border: solid 1px black;
}

.Modal {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	background-color: papayawhip;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rebeccapurple;
}
svg{cursor: pointer;}
